name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      - name: Restore NuGet packages
        run: nuget restore YuB-X-Public.sln

      - name: Build Solution
        run: msbuild YuB-X-Public.sln /p:Configuration=Release /p:Platform=x64 /m /r

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: x64/Release/
